<script lang="ts">
	import '$lib/styles/app.css';
	import NProgress from '$lib/components/nprogress.svelte';
</script>

<NProgress />

<h1>Machine Learning One</h1>

<nav>
	<a href="/">Home</a>
	<a sveltekit:prefetch href="/about">About</a>
</nav>

<slot />
