<script lang="ts">
	export let title = 'Machine Learning One';
	export let desc = 'An ever-growing resource compendium for machine learning';
</script>

<svelte:head>
	<title>{title}</title>
	<meta name="description" content={desc} />
</svelte:head>

<main>
	<slot />
</main>
