<script lang="ts">
	import TOC from '$lib/components/toc.svelte';
	export let title = 'Machine Learning One';
	export let desc = 'An ever-growing resource compendium for machine learning';
</script>

<svelte:head>
	<title>{title}</title>
	<meta name="description" content={desc} />
</svelte:head>

<TOC />

<main>
	<slot />
</main>
