<script lang="ts">
	import { onMount } from 'svelte';
	import { page } from '$app/stores';
	import { browser } from '$app/env';

	export let headingSelector = `main :where(h2, h3)`;
	export let getHeadingTitles = (node: HTMLHeadingElement): string => node.innerText;
	export let getHeadingIds = (node: HTMLHeadingElement): string => node.id;
	export let getHeadingLevels = (node: HTMLHeadingElement): number => Number(node.nodeName[1]);
	export let activeHeading: HTMLHeadingElement | null = null;
	export let title = `On this page:`;

	interface Heading {
		title: string;
		depth: number;
	}

	let headings: Heading[] = [];
	let nodes: HTMLHeadingElement[] = [];

	function handleRouteChange() {
		nodes = [...document.querySelectorAll(headingSelector)] as HTMLHeadingElement[];
		const depths = nodes.map(getHeadingLevels);
		const minDepth = Math.min(...depths);
		headings = nodes.map((node, idx) => ({
			title: getHeadingTitles(node),
			depth: depths[idx] - minDepth
		}));
	}

	// (re-)compute list of HTML headings on mount and on route changes
	if (browser) {
		page.subscribe(handleRouteChange);
	}

	onMount(() => {
		const observer = new IntersectionObserver(
			// callback receives all observed nodes whose intersection changed, we only need the first
			([entry]) => {
				activeHeading = entry.target as HTMLHeadingElement; // assign intersecting node to activeHeading
			},
			{ threshold: [1] } // only consider heading as intersecting once it fully entered viewport
		);
		nodes.map((node) => observer.observe(node));
		handleRouteChange();
		return () => nodes.map((node) => observer.unobserve(node));
	});

	const clickHandler = (idx: number) => () => {
		const heading = nodes[idx];
		heading.scrollIntoView({ behavior: `smooth`, block: `start` });
		if (getHeadingIds) {
			history.replaceState({}, ``, `#${getHeadingIds(heading)}`);
		}
	};
</script>

<aside class="toc">
	<nav class="m-2">
		{#if title}
			<h2>{title}</h2>
		{/if}
		{#each headings as { title, depth }, idx}
			<li
				tabindex={idx + 1}
				style="margin-left: {depth}em;"
				class:active={activeHeading === nodes[idx]}
				on:click={clickHandler(idx)}
			>
				{title}
			</li>
		{/each}
	</nav>
</aside>
